<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Services</title>
  </head>

  <body>
    <header class="navbar">
      <div class="logo">
        <span style="color: #087f5b; font-weight: bold; font-size: 40px"
          >T</span
        >
        Travel
      </div>
      <ul>
        <li><a href="./home.html">Home</a></li>
        <li class="active"><a href="./Services.html">Services</a></li>
        <li><a href="./Contact.html"> Contact us </a></li>
      </ul>
    </header>
    <main>
      
      <div class="services">
        
        <div>
            <img src="./imgs/services/sydnay.jpg"> 
        <h3>Sydney, Australia</h3>
          <p>
            Sydney has to be on the list. January is the height of summer here, with temperatures around 27°C. 
            Culture vultures will love the iconic Sydney Opera House, Sydney Harbour Bridge and museums,
            while Bondi Beach is one of the most famous places to escape the city and luxuriate in sea and sun. 
            This is an ideal spot for ticking “Surfing in Australia” off your bucket list too.
          </p>
          <a> Find more </a>
        </div>
        <div>
            <img src="./imgs/services/Hokkaido.jpg">
            <h3>Hokkaido, Japan</h3>
            <p>
              With more than 600 ski and snowboard resorts, Japan is by no means a minor ski destination. 
              In the west is Niseko, one of Japan’s most popular ski regions. 
              If skiing or snowboarding isn’t your thing, you can always visit the capital of Hokkaido, Sapporo. 
              Don’t miss seeing Mount Hakodate,
              which is regarded as one of the world’s top three mountains for night-time views from its summit. 
            </p>
            <a> Find more </a>
        </div>
        <div>
            <img src="./imgs/services/dragon.jpg">
            <h3>THE DRAGON BRIDGE</h3>
            <p>
              At night, the dragon on this bridge is beautifully lit up with LED lights.
               And, come Saturday and Sunday night at 9 pm, 
               it sprouts fire and water from its mouth in a performance attended by many onlookers. 
               Get close to the action on the bridge itself. Sit at a café on Trần Hưng Đạo Street.
               Or grab a seat and a snack at the Sơn Trà night market down below.
            </p>
            <a> Find more </a>
        </div>
      </div>
    </main>
  </body>
</html>